aside.sidebar.col-lg-3
    h3.sideBar__header Категории
    .accordion
        button.accordion__button Домашний текстиль
        .accordion__panel
            a(href='#').accordion__link Гобеленовые сумки
            a(href='#').accordion__link Скатерти
            a(href='#').accordion__link Пледы
            a(href='#').accordion__link Полотенца
        button.accordion__button Ткани для интерьера
        .accordion__panel
            a(href='#').accordion__link Гобеленовые сумки
            a(href='#').accordion__link Скатерти
            a(href='#').accordion__link Пледы
            a(href='#').accordion__link Полотенца
        button.accordion__button Коллекция из текстиля
        .accordion__panel
            a(href='#').accordion__link Гобеленовые сумки
            a(href='#').accordion__link Скатерти
            a(href='#').accordion__link Пледы
            a(href='#').accordion__link Полотенца
    h3.sideBar__header цена
    .rangeSlider
        .rangeSlider__input(id='rangeSlider')
        .rangeSlider__prices
            input(type='text' readonly id='firstAmount' value='70').rangeSlider__price
            i.rangeSlider__arrow.fas.fa-angle-right
            input(type='text' readonly id='secondAmount' value='400').rangeSlider__price