footer.footer
    .container
        .mainLogo.mainLogo-center
            a(href='#').mainLogo__link
                img(src='static/img/headerLogo.png' alt='limaso').mainLogo__img
        .footerNavigation
            .row
                .contacts.col-lg-3.col-sm-6
                    h3.footerNavigation__header Контакты
                    .contacts__location
                        i.contacts__icon.fas.fa-home
                        p г. Львов, Кольцевая дорога с. Зымна Вода, ул. Яворовская, 22 ТЦ "Три Слона. Все для дома "
                    .contacts__phone
                        i.contacts__icon.fas.fa-phone
                        .contacts__number
                            a(href='tel:+380676742021') +38(067)6742021;
                            a(href='tel:+380686745417') +38(068)6745417
                    .contacts__cards
                        .contacts__visa
                        .contacts__master
                        .contacts__paypal
                .stores.col-lg-3.col-sm-6
                    h3.footerNavigation__header Магазин
                    ul.footerNavigation__list
                        li.footerNavigation__item
                            a(href='#').footerNavigation__link Акции
                        li.footerNavigation__item
                            a(href='#').footerNavigation__link О нас
                        li.footerNavigation__item
                            a(href='#').footerNavigation__link Доставка
                        li.footerNavigation__item
                            a(href='#').footerNavigation__link Политика безопасности
                        li.footerNavigation__item
                            a(href='#').footerNavigation__link Услуги
                        li.footerNavigation__item
                            a(href='#').footerNavigation__link Возврат товара
                .clients.col-lg-3.col-sm-6
                    h3.footerNavigation__header Клиентам
                    ul.footerNavigation__list
                        li.footerNavigation__item
                            a(href='#').footerNavigation__link Личный кабинет
                        li.footerNavigation__item
                            a(href='#').footerNavigation__link История заказов
                        li.footerNavigation__item
                            a(href='#').footerNavigation__link Закладки
                        li.footerNavigation__item
                            a(href='#').footerNavigation__link Рассылка
                        li.footerNavigation__item
                            a(href='#').footerNavigation__link Партнерская программа
                .extra.col-lg-3.col-sm-6
                    h3.footerNavigation__header Дополнительно
                    ul.footerNavigation__list
                        li.footerNavigation__item
                            a(href='#').footerNavigation__link Производители
                        li.footerNavigation__item
                            a(href='#').footerNavigation__link Подарочные сертификаты
                        li.footerNavigation__item
                            a(href='#').footerNavigation__link Скидки и распродажи
                        li.footerNavigation__item
                            a(href='#').footerNavigation__link Карта сайта
                        li.footerNavigation__item
                            a(href='#').footerNavigation__link Связаться с нами
.pageFooter
    .container
        .pageFooter__wrap
            .pageFooter__rights
                span.pageFooter__info LIMASO © 2017. Все права защищены.
            .pageFooter__social
                a(href='#').pageFooter__link.pageFooter__link-facebook
                    i.fab.fa-facebook-f
                a(href='#').pageFooter__link.pageFooter__link-twitter
                    i.fab.fa-twitter
                a(href='#').pageFooter__link.pageFooter__link-rss
                    i.fas.fa-rss
                a(href='#').pageFooter__link.pageFooter__link-google
                    i.fab.fa-google-plus-g
                a(href='#').pageFooter__link.pageFooter__link-linkedin
                    i.fab.fa-linkedin-in