header(id='header').header
    .mainLogo
        a(href='#').mainLogo__link
            img(src='static/img/headerLogo.png' alt='limaso').mainLogo__img
    nav.mainNavigation
        .container
            ul.mainNavigation__list
                li.mainNavigation__item
                    a(href='#').mainNavigation__link ткани для интерьера
                li.mainNavigation__item
                    a(href='#').mainNavigation__link домашний текстиль
                li.mainNavigation__item
                    a(href='#').mainNavigation__link коллекции из текстиля
                li.mainNavigation__item
                    a(href='#').mainNavigation__link ресторанный текстиль
                li.mainNavigation__item
                    a(href='#').mainNavigation__link тотельный текстиль
    .accountIcons
        i.accountIcons__icon.fas.fa-search
        i.accountIcons__icon.far.fa-user
        i.accountIcons__icon.fas.fa-shopping-cart
            span.accountIcons__add 1
    div(id='menuButton').menuButton
        span.menuButton__line
        span.menuButton__line
        span.menuButton__line